.navbar-container {
    background-color: lightseagreen;
    background-size: cover;
    display: flex;
    flex-direction: row;
    height:70px;
}
.kenvue-icon {
    height:30px;
    width:125px;
    margin-left: 50px;
    padding-top:20px;
}

.employee-icon {
    height:50px;
    width: 50px;
    border-radius:50px;
    padding-top:10px;
    padding-right:5px;
}

.navtabs-container{
    display: flex;
    flex-direction: row;
    margin-left: 200px;
    color: white;
    padding-top: 20px;
}

.navs {
    padding-right:70px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.sernot-container{
    display: flex;
    flex-direction: row;
    margin-left: 350px;
    padding-top: 5px;
}

.set-icon {
    padding-right: 50px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.not-icon {
    padding-right: 50px;
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.profile-container{
    margin-left:50px;
    color: white;
}

.profile-info{
    display: flex;
    flex-direction: row;
    padding-bottom:20px;
}

.name{
    margin-bottom: 100px;
    padding-right:10px;
}

.subname{
    font-size:12px;
    padding-right: 25px;
    margin-bottom: 10px;
}

.dropdown {
    padding-top: 5px;
}

.link {
    text-decoration: none;
}